TOKEN_HUGGING_FACE = #TOKEN
TOKEN_HUGGING_FACE_DETECTOR = #TOKEN
MODEL_HUGGING_FACE = #MODELO
MODEL_HUGGING_TRANSLATE= #MODELO TRANSLATE
MODEL_HUGGING_TRANSLATE_EN = #MODELO TRANSLATE EN
MODEL_IMAGE_CLASSIFICATION = #MODELO CLASSIFICATION
GOOGLE_CLIENT_ID = #CLIENT_ID
PORT =
JWT_SECRET= #SECRET JWT
JWT_EXPIRATION= #TIEMPO
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password