# Ignorar directorios y archivos generados por Node.js
node_modules/
dist/

# Ignorar archivos de configuración local
.env
.env.development

# Ignorar archivos de respaldo y caché
*.log
*.zip
*.gz

# Ignorar archivos de compilación de TypeScript
*.js
*.map

# No incluir package-lock.json en el control de versiones
!.gitkeep

.vercel

*.vscode

reports/

coverage/